/* Inline styles → highest (1000)
   ID → (100)
   Class, pseudo-class, attribute → (10)
   Element, pseudo-element → (1)
  Universal → lowest */

*{                                        /* Universal selector */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}    

p{                                               /* Type Selector */
  color: blue;
  font-size: large;
}

.art1{
  color: red;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;             /* class selector */
}

#art2{
  color: mediumseagreen;                                                 /* id selector */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}

h1, h2, h3{
  color: brown;
  font-weight: bold;                                                       /* Group Selector */ 
}

/* Combinators : Relationship between Elements. */

.container .descendant {                          
  color: rgb(3, 102, 31);
  font-weight: bolder;
  font-size: 24px;
}

.container > .child{                     /* selects direct child  */
  color: yellow;
  font-size: 30px;
}

.sibling + .adjacent {               /* selects .adjacent immediately after .sibling */
  color: red;
  font-size: 32px;
}

.sibling ~ .general {               /* selects all .general after .sibling */
  color: orange; 
}











