#grand{
  height: 500px;
  width: 500px;
  background-color : red;
}

#parent{
  height: 400px;
  width: 400px;
  background-color: aqua;
}

#child{
  height: 300px;
  width: 300px;
  background-color: green;
}